@charset "ISO-8859-1";

body {
    background-color: #3465af;
    margin-top: 0;
}


.wrapper {
    background-color: #e0eaf8;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    box-shadow: 5px 5px 20px #183762;
    
}

.header{
	display: inline-block;
	padding-bottom: 30px;
	margin: 0;
	text-algin: center;
}

.formWrapper{
   width: 100%;
   background-color: #f7f9fd;
   
   margin-top: 0;
   margin-bottom: 20px;
   border: 1px solid #cedcf0;
   border-radius: 0 0 9px 9px;
   
}

.formTitle{
	display: inline-block;
	width: 100%;
	margin: 0;
	background-color: #c9daf5;
	border-radius: 0 0 9 9;
	color: #3465af;
	
}

.error{
	display: inline-block;
	padding: 0 20px;
	color: red;
}

.error span{
	display: inline-block;
    padding: 0 20px;
    color: #179e10;
}

span{
	display: inline-block;
	padding: 15px 20px;
}

form{
	padding: 20px;
	margin-right: 20px;
}

input{
	height:1.8em; 
	width:100%;
	border: 1px solid #cedcf0;
	border-radius: 5px;
	margin: 5px 0 10px 0;
	padding: 5px 10px;
}

.button{
	width: 100px;
	height: 50px;
	background: #3465af;
	background-image: linear-gradient(to bottom, #5686cd, #3465af);
	padding: 10px;
	font-size: 1.2em;
	border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
}

.button:hover {
	background: #3568b5;
	background-image: linear-gradient(to bottom, #5686cd, #2c5594);
	text-decoration: none;
}

.userWrapper {
      background-color: #4a7dca; 
  
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 20px #183762;
    
}

.userHeader{
	 width: 1000px;
    display: inline-block;
    padding-bottom: 10px;
    background-color: #d7e1f2; 
    margin: 0;
    text-algin: center;
}

.content{
    display: inline-block;
    width: 960px;
    margin: 0;
    padding: 10px 20px;
    background-color: white;
    border-radius: 0 0 9 9;
    color: #3465af;
    
}

.menu{
	display: inline-block;
	width: 800px;
	
	margin-top: 0;
	padding: 10px 20px;
	background-color: #4a7dca;
	text-aling: right; 
	text-decoration: none;
}

a{
	text-align: right;
	color: #3465af;
	text-decoration: none;
    text-decoration-color: none;
}

table{
	width: 100%;
	color: #3465af;
}

table tr:nth-child(even){
	background-color: #f2f2f2;
	
}



table th {
    padding: 10px 10px;

    text-align: left;
    background-color: #cbcdd8;
    color: black;
}

table td{
	color: #3465af;
	padding: 5px 10px;
	
}

.delete{
	color: red;
}
